.grid-container
  position absolute
  height 100%
  width 100%
  top 0
  left 0
  overflow hidden

.grid
  position absolute
  height 100%
  width 100%
  top -26px
  left -18px

  div
    position absolute
    width 60px
    height 52px
