@import '../../../style/var.styl'

svg.hex
  transform translateZ(0)

  path
    transition 0.1s ease-in-out 0s
    stroke-width 1px
    fill $offBlack
    stroke $black
    pointer-events none

    &.side
      opacity 0


  &.active:hover, &:hover
    path
      opacity 0.5
      fill $red

      &.side
        opacity 0.4
        animation pulse 2s infinite


  &.active
    path
      fill $offWhite

      &.top
        opacity 0.5
      &.side
        opacity 0.3


  &.back
    path
      &.top
        opacity 1
        animation opac-top 6s cubic-bezier(0.68, -0.55, 0.265, 1.55)

      &.side
        opacity 0
        animation opac-side 6s cubic-bezier(0.68, -0.55, 0.265, 1.55)


@keyframes pulse
  50%
    opacity 0.6

@keyframes opac-top
  0%
    fill $offWhite
    opacity 0.5
  90%
    fill $offWhite
    opacity 0.5
  100%
    fill $offBlack
    opacity 1

@keyframes opac-side
  0%
    fill $offWhite
    opacity 0.3
  90%
    fill $offWhite
    opacity 0.3
  100%
    fill $offBlack
    opacity 0
