@import './normalize.css'
@import './font'
@import './var'

html, body
  font-family 'pancetta_serif_prothin'
  height: 100%
  min-height: 100%
  background-color $offBlack
  margin: 0


.center
  position absolute
  top 50%
  left 50%
  transform translateX(-50%) translateY(-50%)

.overlay
  z-index 3
  pointer-events none
  // mix-blend-mode difference
  mix-blend-mode exclusion
  margin -100px 0 0 0

  @media $tabletVertical
    margin -160px 0 0 0

  @media $smallHeight
    margin -120px 0 0 0

  h1, h2
    font-family 'pancetta_serif_prothin'
    font-size 60px
    color $white
    text-align center
    line-height 0.9em

  h2
    font-size 26px
    line-height 1.2em
    margin-top -14px
