@import './normalize.css'
@import './font'
@import './var'

html, body
  font-family 'pancetta_serif_prothin'
  height: 100%
  min-height: 100%
  background-color $offBlack
  margin: 0


.center
  position absolute
  top 50%
  left 50%
  transform translateX(-50%) translateY(-50%)

.overlay
  z-index 3
  pointer-events none
  // mix-blend-mode difference
  mix-blend-mode exclusion

  h1
    font-family 'pancetta_serif_probold'
    font-size 70px
    color $white
