// colors

$black      = #122430
$offBlack   = #273E45
$white      = #FFFCE2
$offWhite   = #EBD2B5
$red        = #E63531


// sizes


// mediaqueries

$tabletVertical = 'only screen and (max-width: 768px)'
$smallHeight = 'only screen and (max-height: 568px)'
